.education {
  text-align: center;
  margin: auto;
  padding: 22px 0px;
  width: 60%;
}

.education-item:hover {
  background-color: #ddd;
}

.education h2 {
  text-align: left;
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 30px;
}

.education .education-item {
  width: 100%;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 10px;
  margin: 10px auto;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 27px;
  /* cursor: pointer; */
  /* display: inline-block; */
}

.education .educ-icon {
  width: auto;
  display: inline-block;
  text-align: center;
  margin: 25px 20px 25px 35px;
  padding-top: 20px;
  position: absolute;
}

.education .educ-desc {
  width: 60%;
  margin: 15px 170px;
  display: inline-block;
  text-align: left;
}

.education a {
  /* width: auto; */
  /* height: 10px; */
  /* display: block; */
  text-transform: uppercase;
  background-color: #f44336;
  border-radius: 10px;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  /* margin: 10px; */
  cursor: pointer;
  font-size: 12px;
}

.education a:hover {
  background-color: #e94f44;
}

@media (max-width: 600px) {
  .education a {
      text-align: center;
      width: auto;
    display: block; 
    margin: 10px 0;
    padding: 12px 20px;
  }
  .education .educ-icon {
    display: block;
    margin: auto;
    width: 100%;
    position: relative;
    text-align: center;
  }
  .education .educ-desc {
    display: block;
    width: 100%;
    margin: auto;
    padding-top: 12px;
    text-align: center;
  }
  .education {
    width: 90%;
  }
}
