.projects {
    width: 60%;
    margin: auto;
  }
  
  .projects i {
    padding: 20px;
  }
  
  .projects .col {
    text-align: center;
    width: 100%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 15px;
    margin: 10px 10px;
    box-sizing: border-box;
    margin-bottom: 27px;
    cursor: default;
  }
  
  .projects .col:hover {
    background-color: #ddd;
  }
  
  .projects .used-tech {
    padding-top: 13px;
    text-align: left;
    margin: 15px 10px 2px;
    font-weight: lighter;
  }
  
  .projects p {
    font-weight: bold;
  }
  
  .projects a {
    display: block;
    text-transform: uppercase;
    background-color: #f44336;
    border-radius: 10px;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    margin: 10px;
    cursor: pointer;
  }
  
  .projects a:hover{
    background-color: #e94f44;
  }
  
  @media (max-width: 1300px) {
    .projects {
      width: 90%;
      
    }

  }